{{#if validElectionId}}
  <h3>Elections coming up in {{state}}</h3>
  <ul class="list-group list-group-flush election-list">
    {{#each stateElections}}
    <li class="list-group-item election-item">
      <div class="election-quick-details">
        <p>{{this.name}}</p>
        <p><em>{{formatDate this.date}}</em></p>
      </div>
      <a href="#" 
          onclick="goToElectionPage({{{this.id}}});return false;" 
          class="election-choice-js">
        <div class="learn-more-button" id="state-learn-more-button">Learn more</div>
      </a>
    </li>
    {{else}}
    <p><em>No elections coming up soon.</em></p>
    {{/each}}
  </ul>
  
  <h3>Elections coming up in the United States</h3>
  <ul class="list-group list-group-flush election-list">
    {{#each nationalElections}}
    <li class="list-group-item election-item">
      <div class="election-quick-details">
        <p>{{this.name}}</p>
        <p><em>{{formatDate this.date}}</em></p>
      </div>
      <a href="#" 
          onclick="goToElectionPage({{{this.id}}});return false;" 
          class="election-choice-js">
        <div class="learn-more-button" id="national-learn-more-button">Learn more</div>
      </a>
    </li>
    {{else}}
    <p><em>No elections coming up soon.</em></p>
    {{/each}}
  </ul>
  {{else}}
  <div class="error-text-wrapper">
    <p>Invalid state code. Please use the dropdown menu above to select a state.</p>
  </div>
{{/if}}